<div class="app" >
  <div class="header">
    <a href="https://www.raylib.com" target="_blank"><img src="/image/raylib-logo.png" class="logo vue" alt="Vue logo" /></a>
    <a href="https://github.com/ronbravo/raylib-js" target="_blank"><img src="/image/javascript.svg" class="logo javascript" alt="Javascript logo" /></a>
    <div class="title">
      <h1>Raylib-JS</h1>
      <p>a simple and easy-to-use library to enjoy videogames programming.</p>
    </div>
  </div>
  <div class="body">
    <Raylib />
  </div>
  <div class="footer"></div>
</div>
